In [15]:
import datetime
from StringIO import StringIO

import pandas as pd

import time
import urllib
import urllib2

from BeautifulSoup import BeautifulSoup


def get(url, data_list=None, timeout=10, max_try=3):

    if data_list:
        url = "{}?{}".format(url, urllib.urlencode(data_list))
    query = urllib2.Request(url)
    current_try = 0
    while current_try < max_try:
        try:
            response = urllib2.urlopen(query, timeout=timeout)
            html = response.read()
            response.close()
            return html
        except Exception, e:
            print e
            current_try += 1
            time.sleep(timeout)
    raise Exception("Cannot open page {}".format(url))


def get_yahoo_finance_data(symbol, start_date=None, end_date=None, remove_zero_volume=True):
    """
    Using yahoo finance API Get stock price with high low open close data

    :param symbol: stock symbol used in yahoo finance
    :param start_date: start date of the given stock data 2012-03-15
    :param end_date: end data
    :param remove_zero_volume: if True, will remove all data with zero volume
    :return: a list of stock price as [date, open, high, low, close]
    """
    data_list = [('s', symbol)]
    if start_date:
        data = start_date.split('-')
        data_list.append(('a', int(data[1]) - 1))
        data_list.append(('b', data[2]))
        data_list.append(('c', data[0]))
    if end_date:
        data = end_date.split('-')
        data_list.append(('d', int(data[1]) - 1))
        data_list.append(('e', data[2]))
        data_list.append(('f', data[0]))
    data_list.append(('g', 'd'))
    data_list.append(('ignore', '.csv'))

    url = "http://chart.finance.yahoo.com/table.csv"
    stock_info = get(url=url, data_list=data_list)
    stock_data = StringIO(stock_info)
    stock_df = pd.read_csv(stock_data)
    stock_df['Date'] = stock_df['Date'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
    stock_df = stock_df.set_index('Date')

    if not remove_zero_volume:
        return stock_df

    return stock_df[stock_df['Volume'] > 0]

In [22]:
df = get_yahoo_finance_data('0001.HK')
df

                Open      High       Low     Close    Volume  Adj Close
Date
2016-09-08  101.5000  102.6000  101.5000  102.2000   5459200  101.46500
2016-09-07  103.0000  103.0000  102.0000  102.1000   4926700  101.36572
2016-09-06  102.7000  103.2000  102.0000  102.2000   5209500  101.46500
2016-09-05  103.3000  103.9000  102.8000  103.2000   3620100  102.45781
2016-09-02  100.0000  103.8000   99.8000  102.8000  12236700  102.06069
2016-09-01   99.7000   99.7000   98.7000   99.5500   6533800   98.83406
2016-08-31   98.7500   99.7000   98.6000   99.7000   3698700   98.98298
2016-08-30   99.3000   99.7000   98.7000   99.1500   4041600   98.43694
2016-08-29   99.3000   99.3000   97.8000   98.8500   2644900   98.13909
2016-08-26   99.5000   99.6000   98.5500   98.7500   3664600   98.03981
2016-08-25   98.3000   98.3500   97.2000   98.0000   4863900   97.29521
2016-08-24   99.0000   99.1000   97.8500   98.8000   3005600   98.08946
2016-08-23   97.8000   99.0000   97.6000   99.0000   4776500   98.28801
2016-08-22   97.2000   98.2000   97.0000   98.0500   4021200   97.34485
2016-08-19   98.2000   98.6000   96.8000   97.2500   4929200   96.55060
2016-08-18   98.8000   98.9000   98.0000   98.1500   4575200   97.44413
2016-08-17   98.9000   99.2500   98.2000   98.4000   8128100   97.69233
2016-08-16   99.1500   99.1500   97.0500   97.8000   8243800   97.09665
2016-08-15   96.2500   97.8000   96.0000   97.8000   8386100   97.09665
2016-08-12   94.2500   95.9000   94.2000   95.7500   9949400   95.06139
2016-08-11   92.7000   94.0000   92.0000   93.2500   4190500   92.57937
2016-08-10   94.3000   94.3500   93.1500   93.9500   5125300   93.27433
2016-08-09   93.7000   94.7500   93.7000   94.2500   4429500   93.57217
2016-08-08   93.5000   94.5500   93.0000   94.1500   6131900   93.47290
2016-08-05   91.9000   93.0000   91.9000   92.5000   7000100   91.83476
2016-08-04   91.5500   91.6500   90.9000   91.6500   5279900   90.99088
2016-08-03   91.4500   91.7000   91.0500   91.2500   9381600   90.59375
2016-08-01   90.8500   91.8500   90.8500   91.7500   6220200   91.09015
2016-07-29   90.8500   91.3500   90.2500   90.8000   6626400   90.14699
2016-07-28   90.8500   91.9000   90.8000   91.1000   7652900   90.44483
...              ...       ...       ...       ...       ...        ...
2000-02-16   77.9043   78.6190   76.4748   77.9043   7014600   41.56509
2000-02-15   81.8352   82.1926   74.3307   77.5469  10268200   41.37441
2000-02-14   87.1956   87.1956   81.1205   81.8352   5595700   43.66239
2000-02-11   81.8352   88.2677   81.4779   86.4809   8254200   46.14106
2000-02-10   76.4748   83.6220   76.1175   80.0484  10401000   42.70906
2000-02-09   75.0454   78.6190   74.3307   77.5469   8507900   41.37441
2000-02-08   73.2586   75.7601   71.4718   75.0454   4574600   40.03976
2000-02-03   72.9013   73.6160   70.9358   73.2586   4005700   39.08642
2000-02-02   71.1144   73.2586   71.1144   72.9013   4732200   38.89579
2000-02-01   71.2931   71.4718   69.3277   70.7571   5250300   37.75177
2000-01-31   71.4718   71.4718   69.6850   69.8637   5745800   37.27511
2000-01-28   73.6160   73.9733   71.2931   73.2586   8468800   39.08642
2000-01-27   70.3997   72.9013   70.2211   72.9013   6492400   38.89579
2000-01-26   68.2556   70.3997   68.2556   70.0424   5974600   37.37045
2000-01-25   66.4688   68.4343   66.1114   67.7195   4556300   36.13109
2000-01-24   67.1835   68.6129   65.9327   66.8261   5841400   35.65443
2000-01-21   65.7541   67.5409   64.8607   65.9327   5885900   35.17776
2000-01-20   65.7541   66.6475   65.3967   65.5754   4246000   34.98713
2000-01-19   65.0394   65.7541   64.3246   65.7541   7926100   35.08247
2000-01-18   62.7165   66.8261   62.7165   66.4688   4871500   35.46379
2000-01-17   63.6099   63.6099   62.3592   63.2525   3106900   33.74777
2000-01-14   63.6099   64.1460   61.6444   62.5378   3903500   33.36644
2000-01-13   64.6820   64.8607   63.0739   63.4312   3499800   33.84311
2000-01-12   64.3246   65.9327   63.4312   64.3246   5453800   34.31977
2000-01-11   65.3967   66.1114   63.9673   65.3967   6175800   34.89178
2000-01-10   65.3967   66.4688   63.7886   63.7886   5195400   34.03380
2000-01-07   62.8952   63.6099   61.8231   63.2525   6049700   33.74777
2000-01-06   65.7541   66.1114   60.7510   62.0018  10440400   33.08047
2000-01-05   66.8261   67.8982   64.8607   65.2180   6058500   34.79644
2000-01-04   71.4718   72.1865   70.0424   70.0424   3194400   37.37045

[4092 rows x 6 columns]

In [31]:
from talib import abstract
df = df.sort_index()
df['close'] = df['Close']
df['RSI'] = abstract.RSI(df, timeperiod=7)
df

,Open,High,Low,Close,Volume,Adj Close,RSI,close
Date,,,,,,,,
2000-01-04,71.4718,72.1865,70.0424,70.0424,3194400,37.37045,NaN,70.0424
2000-01-05,66.8261,67.8982,64.8607,65.2180,6058500,34.79644,NaN,65.2180
2000-01-06,65.7541,66.1114,60.7510,62.0018,10440400,33.08047,NaN,62.0018
2000-01-07,62.8952,63.6099,61.8231,63.2525,6049700,33.74777,NaN,63.2525
2000-01-10,65.3967,66.4688,63.7886,63.7886,5195400,34.03380,NaN,63.7886
2000-01-11,65.3967,66.1114,63.9673,65.3967,6175800,34.89178,NaN,65.3967
2000-01-12,64.3246,65.9327,63.4312,64.3246,5453800,34.31977,NaN,64.3246
2000-01-13,64.6820,64.8607,63.0739,63.4312,3499800,33.84311,25.333184,63.4312
2000-01-14,63.6099,64.1460,61.6444,62.5378,3903500,33.36644,23.505016,62.5378
2000-01-17,63.6099,63.6099,62.3592,63.2525,3106900,33.74777,28.332004,63.2525
2000-01-18,62.7165,66.8261,62.7165,66.4688,4871500,35.46379,46.166949,66.4688
2000-01-19,65.0394,65.7541,64.3246,65.7541,7926100,35.08247,43.368999,65.7541
2000-01-20,65.7541,66.6475,65.3967,65.5754,4246000,34.98713,42.615600,65.5754
2000-01-21,65.7541,67.5409,64.8607,65.9327,5885900,35.17776,44.850423,65.9327
2000-01-24,67.1835,68.6129,65.9327,66.8261,5841400,35.65443,50.476669,66.8261
2000-01-25,66.4688,68.4343,66.1114,67.7195,4556300,36.13109,55.744052,67.7195
2000-01-26,68.2556,70.3997,68.2556,70.0424,5974600,37.37045,66.539655,70.0424
2000-01-27,70.3997,72.9013,70.2211,72.9013,6492400,38.89579,75.219331,72.9013
2000-01-28,73.6160,73.9733,71.2931,73.2586,8468800,39.08642,76.122447,73.2586
2000-01-31,71.4718,71.4718,69.6850,69.8637,5745800,37.27511,54.218622,69.8637
2000-02-01,71.2931,71.4718,69.3277,70.7571,5250300,37.75177,57.934796,70.7571
2000-02-02,71.1144,73.2586,71.1144,72.9013,4732200,38.89579,65.725027,72.9013
2000-02-03,72.9013,73.6160,70.9358,73.2586,4005700,39.08642,66.916154,73.2586
2000-02-08,73.2586,75.7601,71.4718,75.0454,4574600,40.03976,72.493267,75.0454
2000-02-09,75.0454,78.6190,74.3307,77.5469,8507900,41.37441,78.431795,77.5469
2000-02-10,76.4748,83.6220,76.1175,80.0484,10401000,42.70906,82.771292,80.0484
2000-02-11,81.8352,88.2677,81.4779,86.4809,8254200,46.14106,89.256251,86.4809
2000-02-14,87.1956,87.1956,81.1205,81.8352,5595700,43.66239,67.764382,81.8352
2000-02-15,81.8352,82.1926,74.3307,77.5469,10268200,41.37441,53.810798,77.5469
2000-02-16,77.9043,78.6190,76.4748,77.9043,7014600,41.56509,54.717431,77.9043
...,...,...,...,...,...,...,...,...
2016-07-28,90.8500,91.9000,90.8000,91.1000,7652900,90.44483,74.966202,91.1000
2016-07-29,90.8500,91.3500,90.2500,90.8000,6626400,90.14699,70.813984,90.8000
2016-08-01,90.8500,91.8500,90.8500,91.7500,6220200,91.09015,75.771748,91.7500
2016-08-03,91.4500,91.7000,91.0500,91.2500,9381600,90.59375,68.614887,91.2500
2016-08-04,91.5500,91.6500,90.9000,91.6500,5279900,90.99088,71.157525,91.6500
2016-08-05,91.9000,93.0000,91.9000,92.5000,7000100,91.83476,75.981569,92.5000
2016-08-08,93.5000,94.5500,93.0000,94.1500,6131900,93.47290,82.579978,94.1500
2016-08-09,93.7000,94.7500,93.7000,94.2500,4429500,93.57217,82.911911,94.2500
2016-08-10,94.3000,94.3500,93.1500,93.9500,5125300,93.27433,77.728110,93.9500
2016-08-11,92.7000,94.0000,92.0000,93.2500,4190500,92.57937,66.423028,93.2500
2016-08-12,94.2500,95.9000,94.2000,95.7500,9949400,95.06139,79.093008,95.7500
2016-08-15,96.2500,97.8000,96.0000,97.8000,8386100,97.09665,84.638392,97.8000
2016-08-16,99.1500,99.1500,97.0500,97.8000,8243800,97.09665,84.638392,97.8000
2016-08-17,98.9000,99.2500,98.2000,98.4000,8128100,97.69233,86.106454,98.4000
2016-08-18,98.8000,98.9000,98.0000,98.1500,4575200,97.44413,82.283863,98.1500
2016-08-19,98.2000,98.6000,96.8000,97.2500,4929200,96.55060,69.352772,97.2500
2016-08-22,97.2000,98.2000,97.0000,98.0500,4021200,97.34485,73.647508,98.0500
2016-08-23,97.8000,99.0000,97.6000,99.0000,4776500,98.28801,77.931912,99.0000
2016-08-24,99.0000,99.1000,97.8500,98.8000,3005600,98.08946,74.939425,98.8000
2016-08-25,98.3000,98.3500,97.2000,98.0000,4863900,97.29521,63.551391,98.0000
2016-08-26,99.5000,99.6000,98.5500,98.7500,3664600,98.03981,68.746095,98.7500
2016-08-29,99.3000,99.3000,97.8000,98.8500,2644900,98.13909,69.423965,98.8500
2016-08-30,99.3000,99.7000,98.7000,99.1500,4041600,98.43694,71.581285,99.1500
2016-08-31,98.7500,99.7000,98.6000,99.7000,3698700,98.98298,75.307641,99.7000
2016-09-01,99.7000,99.7000,98.7000,99.5500,6533800,98.83406,72.291561,99.5500
2016-09-02,100.0000,103.8000,99.8000,102.8000,12236700,102.06069,86.230997,102.8000
2016-09-05,103.3000,103.9000,102.8000,103.2000,3620100,102.45781,87.158613,103.2000
2016-09-06,102.7000,103.2000,102.0000,102.2000,5209500,101.46500,72.844911,102.2000
2016-09-07,103.0000,103.0000,102.0000,102.1000,4926700,101.36572,71.475463,102.1000
2016-09-08,101.5000,102.6000,101.5000,102.2000,5459200,101.46500,72.087657,102.2000